<h2 class="center pink-text text-lighten-3">Log In:</h2>
<br>
<%= form_with url: '/log_in', scope: :session, local: true do |f| %>
    Email: <%= f.text_field :email %><br>
    <br /><br />
    Password: <%= f.password_field :password %><br>
    <br /><br />

    <%= f.submit "log in"%>
<% end %>