<h3 class="center pink-text text-lighten-3">Owner Profile</h3>
<h5 class="pink-text text-lighten-3">Registered Owner:</h5> 
<%= @owner.name %>
<br /><br /><br />

<h5 class="pink-text text-lighten-3">Currently Owned Buildings:</h5>
<% if @owner.buildings.empty? %>
    <p>You don't have any buildings at this time.</p>
<% else %>
    <p>Select to edit your building</p>
    <ul>
        <% @owner.buildings.each do |b| %>
            <li><%= link_to b.name, building_path(b) %></li>    
        <% end %>
    </ul>
<% end %>
<br/>

<form method="get">
    <input type="submit" value="Add Apartment" name="Add Apartment" class="pink lighten-3">
</form>

