<h1 class="center pink-text text-lighten-3">Owner Profile</h1>
Registered Owner: <%= @owner.name %>
<br /><br /><br />

<h2>Currently Owned Buildings:</h2>
<% if @owner.buildings.empty? %>
    <p>You don't have any buildings at this time.</p>
<% else %>
    <p>Select to edit your building</p>
    <ul>
        <% @owner.buildings.each do |b| %>
            <li><%= link_to b.name, building_path(b) %></li>    
        <% end %>
    </ul>
<% end %>
<br/>


