<h2>Owner Profile</h2>
Owner: <%= @owner.name %>
<br>

<h3>Owned Buildings:</h3>
<% if @owner.buildings.empty? %>
    <p>No buildings at this time.</p>
<% else %>
    <p>Select to edit building.</p>
    <ul>
        <% @owner.buildings.each do |b| %>
            <li><%= link_to b.name, building_path(b) %></li>    
        <% end %>
    </ul>
<% end %>

<%= link_to 'Add Building', new_building_path %><br>

