<h1 class="center pink-text text-lighten-3">Welcome to City Apartment Finder</h1>


<center><img src="https://data.whicdn.com/images/217747722/original.jpg" alt="dream apartment weheartit" class="center"></center>

<br />
<%= button_to "Log In", '/log_in'%><br>
<br />
<%= button_to "Sign Up", new_owner_path %>


   

 

