<h2 class="center pink-text text-lighten-3">Welcome to City Apartment Finder</h2>


<center><img src="https://data.whicdn.com/images/217747722/original.jpg" alt="dream apartment weheartit" class="center"></center>

<br />
<center><%= link_to "Log In", '/log_in'%></center><br>
<br />
<center><%= link_to "Sign Up", new_owner_path %></center>


   

 

