<h2 class="center pink-text text-lighten-3">Welcome to City Apartment Finder</h2>


<center><img src="https://data.whicdn.com/images/217747722/original.jpg" alt="dream apartment weheartit" class="center"></center>

<br />

<form action="/log_in" method="get">
    <center><input type="submit" value="Log In" name="Log In" class="btn pink lighten-2"></center><br>
</form>
<br />

<form action="/signup" method="get">
<center><input type="submit" value="Sign Up" name ="Sign Up" class="btn pink lighten-2"></center>
</form>


   

 

