<h1>Welcome to City Apartment Finder</h1>
<% if current_user %>
    <% if current_user.role.nil? %>
        <p>A user may be an Owner or Resident.</p>
        <h4>Select <%= link_to('owner', new_owner_path) %> or Resident</h4>
    <% else %>
        <p>You're a <%= current_user.role %>.</p>
        <% if current_user.role == 'owner' %>
            <%= link_to('Your Buildings', owner_path(Owner.find_by(user: current_user)))%>    
        <% end %>
    <% end %>
<% end %>