<%= display_header(@amenity%>

<h1>Apartments</h1>

<%= flash[:message] %>

<% @apartments.each do |apartment| %>
<ul>
    <li><%= link_to apartment.building, apartment_path(apartment.id) %></li>
</ul>
<% end %>