<%= display_header(@amenity) %>

<%= flash[:message] %>

<h2>All Apartments</h2>

<ul>
<% @apartments.each do |apartment| %>
    <li><%= link_to(apartment.unit, apartment_path(apartment.id)) %></li>
<% end %>
</ul>

<%= link_to('New Apartment', new_apartment_path) %>