<h4><%= @apartment.unit %></h4>

Apartment's Buildings
<%= @apartment.building.name %>
<br /><br />

Apartment's Amenities
<br />
<%= link_to("Add a new amenity to #{@apartment.unit}", new_apartment_amenity_apartment_path(@apartment.id)) %>
<%= render partial: 'amenities/amenities', collection: @apartment.amenities, as: :amenity %>
